body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #ffe0eb, #ffd1dc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GOLD BOX */
.gold-box {
  position: relative;
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.gold-box::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 23px;
  background: linear-gradient(45deg, gold, #fff8b0, gold, #d4af37);
  background-size: 300% 300%;
  z-index: -1;
  animation: goldMove 3s linear infinite;
}

.gold-box::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: white;
  border-radius: 18px;
  z-index: -1;
}

@keyframes goldMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* BUTTON */
.main-btn {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #d10050;
  color: white;
  font-size: 16px;
  margin-top: 15px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

/* CARD */
.hira-card {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid gold;
  font-size: 22px;
  font-weight: bold;
  color: #d10050;
  cursor: pointer;
  background: white;
}

.hira-card span {
  display: block;
  font-size: 12px;
  color: #555;
}
